In [1]:
import pandas as pd 
import numpy as np

In [2]:
arr_df = pd.read_csv('../data/catalogs/yellowstone.arrivals.gains.2024.csv')

In [3]:
arr_df.columns

Index(['evid', 'network', 'station', 'location', 'channelz', 'phase',
       'arrival_id', 'arrival_time', 'pick_quality', 'first_motion',
       'take_off_angle', 'source_receiver_distance', 'source_receiver_azimuth',
       'travel_time_residual', 'receiver_lat', 'receiver_lon', 'receiver_elev',
       'event_lat', 'event_lon', 'event_depth', 'origin_time', 'magnitude',
       'magnitude_type', 'rflag', 'gain_z', 'gain_units', 'low_freq_corners_z',
       'high_freq_corners_z', 'channel_dip_z', 'channel_azimuth_z', 'utc'],
      dtype='object')

In [4]:
stat_df = arr_df[['network', 'station', 'receiver_lat', 'receiver_lon']].drop_duplicates()
print(stat_df.shape[0])

73

In [6]:
stat_df[stat_df.duplicated('station', keep=False)].sort_values('station')

       network station  receiver_lat  receiver_lon
11          IW    FLWY     44.082700   -110.699300
10011       IW    FLWY     44.083002   -110.699888
941         IE     GBI     43.987000   -112.063000
34864       IE     GBI     43.986041   -112.064334
38          IW    LOHW     43.612400   -110.603798
10453       IW    LOHW     43.612400   -110.603800
5048        IE     PTI     42.870300   -112.370200
211882      IE     PTI     42.869647   -112.372065

In [7]:
stat_df = stat_df.drop_duplicates('station', keep='last')
stat_df.shape

(69, 4)

In [7]:
stat_df[stat_df['station'] == 'PTI']

       network station  receiver_lat  receiver_lon
211882      IE     PTI     42.869647   -112.372065

In [8]:
stat_df.to_csv('../data/stat.info.csv', index=False)

# Channel df

In [5]:
chan_df = arr_df[['network', 'station', 'receiver_lat', 'receiver_lon', 'channelz']].drop_duplicates()
print(chan_df.shape[0])

92

In [8]:
chan_df[chan_df.duplicated(['station', 'channelz'], keep=False)].sort_values('station')

      network station  receiver_lat  receiver_lon channelz
11         IW    FLWY     44.082700   -110.699300      BHZ
10011      IW    FLWY     44.083002   -110.699888      BHZ
38         IW    LOHW     43.612400   -110.603798      BHZ
10453      IW    LOHW     43.612400   -110.603800      BHZ

In [9]:
chan_df = chan_df.drop_duplicates(['station', 'channelz'], keep='last')
chan_df.shape

(90, 5)

In [16]:
chan_df[chan_df.duplicated('station')].shape[0]

21

In [23]:
chan_df[chan_df.channelz == 'EHZ'].shape[0]

39

In [24]:
chan_df.to_csv('../data/chan.info.csv', index=False)