In [1]:
import pandas as pd 
import numpy as np

In [4]:
arr_df = pd.read_csv('../data/catalogs/yellowstone.arrivals.2023.csv')

In [5]:
arr_df.columns

Index(['evid', 'network', 'station', 'location', 'channelz', 'phase',
       'arrival_id', 'arrival_time', 'pick_quality', 'first_motion',
       'take_off_angle', 'source_receiver_distance', 'source_receiver_azimuth',
       'travel_time_residual', 'receiver_lat', 'receiver_lon', 'receiver_elev',
       'event_lat', 'event_lon', 'event_depth', 'origin_time', 'magnitude',
       'magnitude_type', 'rflag', 'utc'],
      dtype='object')

In [30]:
stat_df = arr_df[['network', 'station', 'receiver_lat', 'receiver_lon']].drop_duplicates()
print(stat_df.shape[0])

71

In [28]:
stat_df[stat_df.duplicated('station', keep=False)].sort_values('station')

       network station  receiver_lat  receiver_lon
16          IW    FLWY     44.082700   -110.699300
9689        IW    FLWY     44.083002   -110.699888
922         IE     GBI     43.987000   -112.063000
33959       IE     GBI     43.986041   -112.064334
36          IW    LOHW     43.612400   -110.603798
10104       IW    LOHW     43.612400   -110.603800
4967        IE     PTI     42.870300   -112.370200
199847      IE     PTI     42.869647   -112.372065

In [31]:
stat_df = stat_df.drop_duplicates('station', keep='last')

In [34]:
stat_df[stat_df['station'] == 'PTI']

       network station  receiver_lat  receiver_lon
199847      IE     PTI     42.869647   -112.372065

In [35]:
stat_df.to_csv('../data/catalogs/stat.info.csv', index=False)